.header {
  background: #1e293b;
  height: 400px;
}
.header-text {
  margin-top: 100px;

  text-align: center;
  color: rgb(203, 213, 225);
}
h1 {
  font-size: 48px;
  font-weight: 400;
}
h2 {
  font-weight: 200;
}

@media (max-width: 600px) {
  .header {
    height: 320px;
    padding-bottom: 24px;
  }
  .header-text {
    margin-top: 40px;
    padding: 48px 10px 56px 10px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 15px;
  }
}
